.card {
    display: flex;
    width: 100%;
    background-color: var(--accent-color2);
    border-radius: var(--page-border-radius);
    padding: 1rem;
}

.card:hover {
    outline: 0.5rem solid var(--accent-color1);
}

.card__image {
    width: 35%;
    border-radius: var(--page-border-radius);
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    color: var(--secondary-color-shade);
    font-size: 1.5rem;
    padding-inline: 2rem;
}

.card__name, .card__subtitle {
    color: var(--secondary-color);
    font-family: var(--bold-font);
}

.card__btn-holder {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.card__btn {
    text-align: center;
    font-size: 1.15em;
    width: 100%;
}