.card {
    display: flex;
    width: 100%;
    background-color: var(--accent-color2);
    border-radius: var(--page-border-radius);
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0 var(--secondary-color);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-1.5%);
    box-shadow: 0 0.2rem 1rem 0 var(--secondary-color);
    transition: 0.2s;
}

.card__image {
    width: 35%;
    flex: 1;
    border-radius: var(--page-border-radius);
}

.card__text {
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color-shade);
    font-size: 1.5rem;
    padding-inline: 2rem;
}

.card__name, .card__subtitle {
    color: var(--secondary-color);
    font-family: var(--bold-font);
}

.card__btn-holder {
    display: flex;
    flex: 2;
    justify-content: end;
    align-items: end;
}

.card__btn {
    font-size: 1.1em;
    width: fit-content;
}