.menu {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--secondary-color-light);
    margin-right: 0;
    padding: 2.25% var(--page-padding);
}

.menu__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
}

.menu__logo {
    display: block;
}

.menu__title {
    color: var(--black);
    font-size: 2.5rem;
}

.menu__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.25rem;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.menu__link:hover {
    color: var(--accent-color2);
    transition: 0.1s;
}

.menu__link:focus {
    color: var(--accent-color2);
}

.menu__link--btn {
    background-color: var(--secondary-color-light);
    border-radius: var(--page-border-radius);
    border: var(--accent-color2) solid 0.2rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
}

.menu__link--btn:hover {
    color: var(--primary-color-light);
    background-color: var(--accent-color2);
    transition: 0.1s;
}

.menu__link--btn:focus {
    color: var(--black);
}

.menu__link--btn:active {
    color: var(--black);
    background-color: var(--secondary-color-light);
    border-color: var(--accent-color2);
}

.menu__link--btn:focus:hover {
    color: var(--primary-color-light);
}

.menu__link--btn:focus:active {
    color: var(--black);
}





