.characters-container {
    padding-top: 6rem;
}

.characters-header {
    text-align: center;
    padding-inline: var(--page-padding);
}

.characters-header__title {
    font-family: var(--bold-font);
    font-size: 3.5rem;
    color: var(--secondary-color);
}

.characters-header__text {
    font-size: 2rem;
    padding-block: 3.5rem;
    color: var(--secondary-color-shade);
}

.characters-main {
    background-color: var(--tertiary-color);
    margin-top: 8rem;
    padding-inline: var(--page-padding);
    padding-block: 4rem;
}

.characters-main__title {
    color: var(--secondary-color-shade);
    width: fit-content;
    font-size: 2.5rem;
    font-family: var(--bold-font);
}

.characters-main__search-form {
    display: flex;
    align-items: center;
    height: 4rem;
}

.characters-main__form-warning {
    font-size: 1.05rem;
    color: #FF0000CC;
    margin-bottom: 0.5rem;
}

.characters-main__btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
}

.characters-main__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 4rem;
    padding: 2rem;
    margin-top: 4rem;
    background-color: var(--primary-color);
    border-radius: var(--page-border-radius);
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

