@font-face {
    font-family: 'SFCartoonist';
    src: url("assets/fonts/SFCartoonistHand.ttf") format('truetype');
}

@font-face {
    font-family: 'SFCartoonistBold';
    src: url("assets/fonts/SFCartoonistHand-Bold.ttf") format('truetype');
}

:root {
    --primary-color: #fef6e4;
    --primary-color-shade: #FEF6E4BF;
    --secondary-color: #001858;
    --secondary-color-shade: #172c66;
    --tertiary-color: #f3d2c1;
    --accent-color1: #f582ae;
    --accent-color2: #8bd3dd;
    --skeleton-color: #f0f0f0;
    --skeleton-color-shade: #f0f0f099;

    --page-padding: 10%;
    --page-border-radius: 0.5rem;
    --bold-font: 'SFCartoonistBold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFCartoonist', sans-serif;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    background-color: var(--primary-color);
}

b {
    font-family: 'SFCartoonistBold', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: #fff; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
    border-radius: 0.5rem; /* Radius of the handle */
}



